# SEGMENTING AND CLUSTERING NEIGHBORHOODS IN TORONTO

### import the Pandas library

In [10]:
import pandas as pd

### read the URL into a pandas dataframe, assigning the value of the columns as python strings

In [ ]:
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(URL, converters={"Postal Code": str, "Borough": str, "Neighbourhood": str})

### the read_html function stores the dataframe in a list; this is to pull the dataframe out

In [3]:
df = df[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

### find the indexes of the 'Borough' column whose value is 'Not assigned' and remove them

In [12]:
not_assigned_index = df[df['Borough'] == 'Not assigned'].index
df.drop(not_assigned_index, inplace=True)

### display the cleaned data frame

In [5]:
df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

### display the # of rows in the data frame

In [15]:
df.shape[0]

103